<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
    <title>宠物健康网</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{static/images/icons/favicon.png}" type="image/png" rel="icon">
    <link th:href="@{static/css/bootstrap.css}" type="text/css" rel="stylesheet">
    <link th:href="@{static/css/bootstrap-responsive.css}" type="text/css" rel="stylesheet">
    <link th:href="@{static/css/themify-icons.css}" type="text/css" rel="stylesheet">
    <link th:href="@{static/css/style.css}" type="text/css" rel="stylesheet"> 
</head>

<body class="subpage">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="span3">
                    <div class="vfp-box1">
                        <header>
                            <!-- Logo -->
                            <div class="vfp-logo-wrapper">
                                <a href="home" class="logo"><img th:src="@{static/images/logo.png}" alt="" class="img-responsive"></a>
                            </div>
                        </header>
                        <!-- Navigation Menu -->
                        <nav>
                            <div class="menu-wrapper">
                                <div class="navbar navbar_">
                                    <div class="navbar-inner navbar-inner_">
                                        <a class="btn btn-navbar btn-navbar_" data-toggle="collapse" data-target=".nav-collapse_"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
                                        <div class="nav-collapse nav-collapse_ collapse">
                                            <ul class="nav sf-menu clearfix">
                                                <li class="active"><a href="home">首页<span class="over1"></span></a></li>
                                                <li><a href="sousuo">宠物健康<span class="over1"></span></a></li>
                                                <li><a href="zxwz">在线问诊<span class="over1"></span></a></li>
                                                <li><a href="czlc">成长历程<span class="over1"></span></a></li>
                                                <li><a href="jbk">疾病库<span class="over1"></span></a></li>
                                                <li><a href="#">个人中心<span class="over1"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="span9">
                    <div class="vfp-box2">
                        <!-- Blog -->
                        <div class="vfp-heading" align="center">
                            <form action="#" method='get'>
                            <input type="text" name='kw' placeholder="请输入您要查询的问题" style="width: 443px;height: 41px;background-color: #ffffff;padding: 0px 5px 0px 18px">
                            <input type="submit" value="搜索" style="width:111px;height: 41px;background-color: #63c32e;margin-bottom: 10px;font-size: 18px;color: #ffffff;">
                        </form>
                        </div>
<!--                        <h1 class="vfp-heading">搜索</h1>-->
                        <ul class="thumbnails vfp-thumbnails2">
                            <li>
                                <div class="thumbnail clearfix">
                                    <figure><img th:src="@{static/images/blog/blog01.jpg}" alt="" class="img-responsive"></figure>
                                    <div class="caption">
                                        <div class="vfp-author-date"> <span class="ti-time"></span> 20.11.2019 <span class="ti-user"></span> Duru布朗 </div>
                                        <h4>给狗狗刷牙</h4>
                                        <p>全面高级宠物护理。莫丽斯·沃鲁帕特·苏塞维特·阿文特是一名弗吉亚人。</p>
                                        <a href="post.html"><button class="vfp-button1">阅读更多</button></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="thumbnail clearfix">
                                    <figure><img th:src="@{static/images/blog/blog02.jpg}" alt="" class="img-responsive"></figure>
                                    <div class="caption">
                                        <div class="vfp-author-date"> <span class="ti-time"></span> 18.11.2019 <span class="ti-user"></span> Duru布朗 </div>
                                        <h4>发现切除卵巢,中性服务</h4>
                                        <p>全面高级宠物护理。莫丽斯·沃鲁帕特·苏塞维特·阿文特是一名弗吉亚人</p> <a href="post.html"><button class="vfp-button1">阅读更多</button></a> </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="thumbnails vfp-thumbnails2">
                            <li>
                                <div class="thumbnail clearfix">
                                    <figure><img th:src="@{static/images/blog/blog03.jpg}" alt="" class="img-responsive"></figure>
                                    <div class="caption">
                                        <div class="vfp-author-date"> <span class="ti-time"></span> 17.11.2019 <span class="ti-user"></span> Duru Brown </div>
                                        <h4>宠物动物医院兽医</h4>
                                        <p>全面高级宠物护理。莫丽斯·沃鲁帕特·苏塞维特·阿文特是一名弗吉亚人。.</p> <a href="post.html"><button class="vfp-button1">阅读更多</button></a> </div>
                                </div>
                            </li>
                            <li>
                                <div class="thumbnail clearfix">
                                    <figure><img th:src="@{static/images/blog/blog04.jpg}" alt="" class="img-responsive"></figure>
                                    <div class="caption">
                                        <div class="vfp-author-date"> <span class="ti-time"></span> 12.10.2019 <span class="ti-user"></span> Duru Brown </div>
                                        <h4>看看我们的宠物是如何行动的</h4>
                                        <p>全面高级宠物护理。莫丽斯·沃鲁帕特·苏塞维特·阿文特是一名弗吉亚人。.</p> <a href="post.html"><button class="vfp-button1">阅读更多</button></a> </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="thumbnails vfp-thumbnails2">
                            <li>
                                <div class="thumbnail clearfix">
                                    <figure><img th:src="@{static/images/blog/blog05.jpg}" alt="" class="img-responsive"></figure>
                                    <div class="caption">
                                        <div class="vfp-author-date"> <span class="ti-time"></span> 7.10.2019 <span class="ti-user"></span> Duru Brown </div>
                                        <h4>我们会照顾你最好的朋友</h4>
                                        <p>全面高级宠物护理。莫丽斯·沃鲁帕特·苏塞维特·阿文特是一名弗吉亚人。</p> <a href="post.html"><button class="vfp-button1">阅读更多</button></a> </div>
                                </div>
                            </li>
                            <li>
                                <div class="thumbnail clearfix">
                                    <figure><img th:src="@{static/images/blog/blog06.jpg}" alt="" class="img-responsive"></figure>
                                    <div class="caption">
                                        <div class="vfp-author-date"> <span class="ti-time"></span> 5.10.2019 <span class="ti-user"></span> Duru Brown </div>
                                        <h4>小猫在探索世界</h4>
                                        <p>全面高级宠物护理。莫丽斯·沃鲁帕特·苏塞维特·阿文特是一名弗吉亚人。</p> <a href="post.html"><button class="vfp-button1">阅读更多</button></a> </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Footer -->
    <footer> <img th:src="@{static/images/icons/paw.png}" alt="" class="img-responsive">
        <h1>宠物健康网</h1>
        <!--<p class="subtitle">宠物医院</p>-->
        <div class="vfp-social-wrapper">
            <ul class="social clearfix">
                <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                <li><a href="#"><i class="ti-instagram"></i></a></li>
                <li><a href="#"><i class="ti-youtube"></i></a></li>
            </ul>
        </div>
        <div class="copyright">Copyright © 2019, by DuruThemes</div>
    </footer>
    
    <!-- JS -->
    <script th:src="@{static/js/jquery.js}"></script>
    <script th:src="@{static/js/jquery.easing.1.3.js}"></script>
    <script th:src="@{static/js/superfish.js}"></script>
    <script th:src="@{static/js/bootstrap.js}"></script>
    <script>
        
        var buttons = document.querySelectorAll(".vfp-button1");
        for(var i = 0; i < buttons.length; i++) {
          var button = buttons[i];
          button.addEventListener("click", function() {
            if(!button.classList.contains("active"))
              button.classList.add("active");
            else
              button.classList.remove("active");
          });
        }
    </script>
</body>
</html>
