<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
    <title>宠物健康网</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{static/images/icons/favicon.png}" type="image/png" rel="icon">
    <link th:href="@{static/css/bootstrap.css}" type="text/css" rel="stylesheet">
    <link th:href="@{static/css/bootstrap-responsive.css}" type="text/css" rel="stylesheet">
    <link th:href="@{static/css/themify-icons.css}" type="text/css" rel="stylesheet">
    <link th:href="@{static/css/style.css}" type="text/css" rel="stylesheet"> 
</head>

<body class="subpage">
    <div id="main">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="span3">
                        <div class="vfp-box1">
                            <header>
                                <!-- Logo -->
                                <div class="vfp-logo-wrapper">
                                    <a href="home" class="logo"><img th:src="@{static/images/logo.png}" alt="" class="img-responsive"></a>
                                </div>
                            </header>
                            <!-- Navigation Menu -->
                            <nav>
                                <div class="menu-wrapper">
                                    <div class="navbar navbar_">
                                        <div class="navbar-inner navbar-inner_">
                                            <a class="btn btn-navbar btn-navbar_" data-toggle="collapse" data-target=".nav-collapse_"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
                                            <div class="nav-collapse nav-collapse_ collapse">
                                                <ul class="nav sf-menu clearfix">
                                                    <li class="active"><a href="home">首页<span class="over1"></span></a></li>
                                                    <li><a href="sousuo">宠物健康<span class="over1"></span></a></li>
                                                    <li><a href="zxwz">在线问诊<span class="over1"></span></a></li>
                                                    <li><a href="czlc">成长历程<span class="over1"></span></a></li>
                                                    <li><a href="jbk">疾病库<span class="over1"></span></a></li>
                                                   <!-- <li><a href="jkzx">健康常识<span class="over1"></span></a></li>-->
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="span9">
                        <div class="vfp-box2">
                            <!-- Contact Info -->
                            <h1 class="vfp-heading">在线问诊</h1>
                            <ul class="thumbnails vfp-thumbnails2">
                                <li>
                                    <div class="thumbnail clearfix">
                                        <div class="caption">
                                            <div class="vfp-branch-box">
                                                <h3>纽约办公室</h3>
                                                <div class="vfp-branch-table">
                                                    <ul>
                                                        <li> <span class="vfp-branch-table-light-text"><i class="ti-mobile"></i>电话</span> <span>+1 212 123 9999</span> </li>
                                                        <li> <span class="vfp-branch-table-light-text"><i class="ti-email"></i>Email</span> <span>info@vfpet.com</span> </li>
                                                        <li> <span class="vfp-branch-table-light-text"><i class="ti-location-pin"></i>地址</span> <span>28 Liberty Street, NY 10005, US.</span> </li>
                                                        <li><span class="vfp-branch-table-light-text"><i class="ti-map-alt"></i>地图</span> <span><a href="https://goo.gl/maps/64bmgfZn4sP2" target="_blank">View on Google Maps</a></span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumbnail clearfix">
                                        <div class="caption">
                                            <div class="vfp-branch-box">
                                                <h3>墨尔本办公室做事</h3>
                                                <div class="vfp-branch-table">
                                                    <ul>
                                                        <li> <span class="vfp-branch-table-light-text"><i class="ti-mobile"></i>电话</span> <span>+61 3 8636 0000</span> </li>
                                                        <li> <span class="vfp-branch-table-light-text"><i class="ti-email"></i>Email</span> <span>info@vfpet.au</span> </li>
                                                        <li> <span class="vfp-branch-table-light-text"><i class="ti-location-pin"></i>地址</span> <span>	2133 Russell Street, Melbourne, AU.</span> </li>
                                                        <li><span class="vfp-branch-table-light-text"><i class="ti-map-alt"></i>地图</span> <span><a href="https://goo.gl/maps/14PcXoSeBg52" target="_blank">View on Google Maps</a></span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            
                            <!-- Contact Form -->
                            <h3>联络与建议回函</h3>
                            <p>你们有问题，我们有答案。
                                <br />今天就联系我们，我们是来帮忙的。</p>
                            <form class="vfp-ajax-contact-form">
                                <div class="block1 clearfix">
                                    <div class="block3">
                                        <div class="control-group">
                                            <label class="control-label" for="inputName">全称</label>
                                            <div class="controls">
                                                <input type="text" id="inputName" name="name" value="Full Name" onBlur="if(this.value=='') this.value='Full Name'" onFocus="if(this.value =='Full Name' ) this.value=''"> </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="inputEmail">E-mail</label>
                                            <div class="controls">
                                                <input type="text" id="inputEmail" name="email" value="E-mail" onBlur="if(this.value=='') this.value='E-mail'" onFocus="if(this.value =='E-mail' ) this.value=''"> </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="inputMessage">在线留言</label>
                                            <div class="controls">
                                                <textarea id="inputMessage" name="content" onBlur="if(this.value=='') this.value='Message'" onFocus="if(this.value =='Message' ) this.value=''">在线留言</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="submit">提交留言</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Footer -->
        <footer> <img th:src="images/icons/paw.png" alt="" class="img-responsive">
            <h1>宠物健康网</h1>
            <!--<p class="subtitle">宠物医院</p>-->
            <div class="vfp-social-wrapper">
                <ul class="social clearfix">
                    <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                    <li><a href="#"><i class="ti-instagram"></i></a></li>
                    <li><a href="#"><i class="ti-youtube"></i></a></li>
                </ul>
            </div>
            <div class="copyright">Copyright © 2019, by DuruThemes</div>
        </footer>
    </div>
    
    <!-- JS -->
    <script th:src="js/jquery.js"></script>
    <script th:src="js/jquery.easing.1.3.js"></script>
    <script th:src="js/superfish.js"></script>
    <script th:src="js/bootstrap.js"></script>
    <script>
        
        var buttons = document.querySelectorAll(".submit");
        for(var i = 0; i < buttons.length; i++) {
          var button = buttons[i];
          button.addEventListener("click", function() {
            if(!button.classList.contains("active"))
              button.classList.add("active");
            else
              button.classList.remove("active");
          });
        }
    </script>
    
</body>
</html>
