<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>宠物健康网</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="images/icons/favicon.png" type="image/png" rel="icon">
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" type="text/css" rel="stylesheet">
    <link href="css/themify-icons.css" type="text/css" rel="stylesheet">
    <link href="css/style.css" type="text/css" rel="stylesheet"> 
</head>

<body class="subpage">
    <div id="main">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="span3">
                        <div class="vfp-box1">
                            <header>
                                <!-- Logo -->
                                <div class="vfp-logo-wrapper">
                                    <a href="home" class="logo"><img src="images/logo.png" alt="" class="img-responsive"></a>
                                </div>
                            </header>
                            <!-- Navigation Menu -->
                            <nav>
                                <div class="menu-wrapper">
                                    <div class="navbar navbar_">
                                        <div class="navbar-inner navbar-inner_">
                                            <a class="btn btn-navbar btn-navbar_" data-toggle="collapse" data-target=".nav-collapse_"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
                                            <div class="nav-collapse nav-collapse_ collapse">
                                                <ul class="nav sf-menu clearfix">
                                                    <li class="active"><a href="home">首页<span class="over1"></span></a></li>
                                                    <li><a href="sousuo">宠物健康<span class="over1"></span></a></li>
                                                    <li><a href="zxwz">在线问诊<span class="over1"></span></a></li>
                                                    <li><a href="czlc">成长历程<span class="over1"></span></a></li>
                                                    <li><a href="jbk">疾病库<span class="over1"></span></a></li>
                                                   <!-- <li><a href="jkzx">健康常识<span class="over1"></span></a></li>-->
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="span9">
                        <div class="vfp-box2">
                            <h1 class="vfp-heading">成长历程</h1>
                            <p>兽医宠物医院是一家为宠物提供全方位服务的兽医诊所。我们的宠物健康诊所致力于家庭宠物疾病的预防和治疗。我们的使命是提供既周到又知情的兽医护理服务。</p>
                            <p>我想问一下您的姓名，您的姓名是什么?在我很小的时候，我就不锻炼身体了，因为我的身体很健康。Nunc suscipit。悬浮物enim arcu, convallis non, cursus seder。</p>
                            <br />
                            <ul class="thumbnails vfp-thumbnails2">
                                <li>
                                    <div class="thumbnail clearfix">
                                        <figure><img src="images/services/services04.jpg" alt="" class="img-responsive"></figure>
                                        <div class="caption">
                                            <h4>高级宠物护理</h4>
                                            <p>全面高级宠物护理。莫丽斯·沃鲁帕特·苏塞维特·阿文特是一名弗吉亚人。</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumbnail clearfix">
                                        <figure><img src="images/services/services03.jpg" alt="" class="img-responsive"></figure>
                                        <div class="caption">
                                            <h4>动物的牙齿护理</h4>
                                            <p>全面高级宠物护理。莫丽斯·沃鲁帕特·苏塞维特·阿文特是一名弗吉亚人。</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul class="thumbnails vfp-thumbnails2">
                                <li>
                                    <div class="thumbnail clearfix">
                                        <figure><img src="images/services/services02.jpg" alt="" class="img-responsive"></figure>
                                        <div class="caption">
                                            <h4>外科手术</h4>
                                            <p>全面高级宠物护理。莫丽斯·沃鲁帕特·苏塞维特·阿文特是一名弗吉亚人。</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumbnail clearfix">
                                        <figure><img src="images/services/services01.jpg" alt="" class="img-responsive"></figure>
                                        <div class="caption">
                                            <h4>微型芯片跟踪</h4>
                                            <p>全面高级宠物护理。莫丽斯·沃鲁帕特·苏塞维特·阿文特是一名弗吉亚人。</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul class="thumbnails vfp-thumbnails2">
                                <li>
                                    <div class="thumbnail clearfix">
                                        <figure><img src="images/services/services05.jpg" alt="" class="img-responsive"></figure>
                                        <div class="caption">
                                            <h4>接种疫苗</h4>
                                            <p>全面高级宠物护理。莫丽斯·沃鲁帕特·苏塞维特·阿文特是一名弗吉亚人。</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumbnail clearfix">
                                        <figure><img src="images/services/services06.jpg" alt="" class="img-responsive"></figure>
                                        <div class="caption">
                                            <h4>营养咨询</h4>
                                            <p>全面高级宠物护理。莫丽斯·沃鲁帕特·苏塞维特·阿文特是一名弗吉亚人。</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Footer -->
        <footer> <img src="images/icons/paw.png" alt="" class="img-responsive">
            <h1>宠物健康网</h1>
            <!--<p class="subtitle">宠物医院</p>-->
            <div class="vfp-social-wrapper">
                <ul class="social clearfix">
                    <li><a href="index.html#"><i class="ti-twitter-alt"></i></a></li>
                    <li><a href="index.html#"><i class="ti-instagram"></i></a></li>
                    <li><a href="index.html#"><i class="ti-youtube"></i></a></li>
                </ul>
            </div>
            <div class="copyright">Copyright © 2019, by DuruThemes</div>
        </footer>
    </div>
    
    <!-- JS -->
    <script src="js/jquery.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/superfish.js"></script>
    <script src="js/jquery.caroufredsel.js"></script>
    <script src="js/jquery.touchSwipe.min.js"></script>
    <script src="js/bootstrap.js"></script>
    
</body>
</html>
